{% extends 'main/base.html' %}
{% block title %}За нас - ВиК Сливен{% endblock title %}

{% block content %}
  <h2>За нас</h2>
  <p>ОБЩИ ДАННИ
    за "Водоснабдяване и Канализация" – ООД, гр. Сливен
    Фирма "В и К" ООД Сливен се обособява като самостоятелна стопанска единица през 1959 година след новото административно деление на България, при което са преобразувани околийските териториални административни структури и създадени окръжни центрове.
    
    След поредица промени на базата на нормативни актове фирмата се обособи като дружество със смесено държавно и общинско участие в управлението и стопанисването на производствените мощности и запазени основни дейности – водоснабдяване, канализация, пречистване на битови отпадни води, услуги на фирми и граждани, търговска дейност, проектиране и инвеститорски контрол при изграждане на водоснабдителни обекти.
    
    Производствената дейност на фирмата се развива върху територията на общините от Сливенска област – Сливен, Нова Загора, Котел и Твърдица.
    
    В четирите общини обслужвани от фирма "В и К" ООД Сливен са обхванати общо 106 населени места с население 229 684 души, като в региона няма неводоснабдено населено място. Обслужват се общо 1125 км вътрешна водопроводна мрежа и 755 км външна водопроводна мрежа.
    
    Дружество "ВиК" ООД гр. Сливен е регистрирано с решение на Сливенски Окръжен Съд по фирмено дело номер 270 от 1989г.
    
    Производствените мощности и показатели илюстриращи дейността на дружеството са следните:
    Обслужвани водоизточници – каптажи, дренажи, кладенци – 334 броя.
    Санитарно – охранителни зони с обща площ 835 дка – 465 броя.
    Основни помпени станции – 74 броя.
    Бункерни помпени станции – 78 броя.
    Хидрофори в населени места – 14 броя.
    Водоеми – напорни, приземни с общ обем 124 360 м3 - 149 броя.
    Кула водоеми – 4 броя с общ обем 360 м3.
    Пречиствателни станции за отпадни води – 2 броя.
    Автомобили от всички видове – 41 броя.
    Автобагери – 16 броя.
    Трактори – 2 броя.
    Самоходни шасита – 1 брой.
    Калочистачни машини – 2 броя.
    Обща инсталирана мощност - 14 000 kW.
    Собствени трансформатори – 50 броя.
    Помпени агрегати – 366 броя.
    Обслужвани абонати – предприятия и фирми – 3427 броя.
    Обслужвани абонати – население – 98 456 броя.
    Цялостната дейност във "ВиК" ООД гр.Сливен се изпълнява от 420 души, с необходима квалификация за изпълняваната работа.
    
    От подаваните водни количества от водоизточниците петдесет до седемдесет на сто се осигуряват чрез помпени станции.
    
    Язовир "Асеновец" е основно съоръжение в схемата на водоснабдяване на гр. Сливен. Разположен е в долината на р. "Асеновска" на 9 км от града, в началото на тесен скалист пролом, след смесване на реките "Асеновска" и "Магарешка". Теренът в района на хидровъзела има планински характер с много стръмни брегове. В створа на стената скатовете са стръмни, скалисти и на места с почти отвесни откоси.
    
    За пълнене на водохранилището е изградена вододовеждаща деривация "Амза дере" за 1160 л/сек, включваща три водохващания на водите на р. "Беленска" над мина "Качулка". Водохващанията са изградени на "Арнаут дере", "Търнишко дере" и "Емишал дере", съответно за водни количества 312, 520 и 248 л/сек.
    
    В състава на хидровъзел "Асеновец" влизат следните съоръжения: язовирна стена, открит траншеев преливник, водовземна кула, отбивен тунел преустроен във водовземен и в основен изпускател, инжекционни и дренажни съоръжения и помощни сгради. Водоснабдителният водопровод за 1345 л/сек започва от две гасителни шахти, разположени на специална площадка в левия скат.
    
    Пътната връзка до язовира представлява третокласен път, отклонение от съществуващия път от гр. Сливен за с. Бяла.
    
    Провежда се контрол върху качеството на питейната вода, съгласно стандартите на МЗ, БДС 2823-83 г. и Наредба № 9/ 2001 г. за качеството на водата, предназначена за питейно-битови нужди.
    
    Извършва се химичен и микробиологичен анализ на водоизточниците, като качеството на водите се следи и чрез анализ на място при сигнали за замърсяване. Водите системно се обеззаразяват, като се използва високотехнологично оборудване на фирмите "АДВАНС", "JESKO" И "Проминент".
    
    Градските пречиствателни станции за отпадни води в градовете Сливен и Нова Загора от дълги години имат съществен принос в опазването на околната среда в региона. Станциите са проектирани да пречистват битови и промишлени води след локална обработка. Пречистването се извършва на биологичен принцип с оптимално разграждане на органичната маса във водата. Процесът е двустъпален – с механично и биологично стъпало, а утайките се обработват в открити изгниватели, оборудвани със съвременна техника. Ефекта от дейността на станцията е 93% разграждане на органичната маса и неразтворените вещества.
    
    За една година двете пречиствателни станции пречистват водно количество с обем 22 075 200 м3, а за периода от тяхното пускане в действие са пречистени 331 128 000 м3 отпадни води.
    
    Контролът на отпадните води от различни източници на замърсяване е част от дейността на фирмата. Този контрол фирмата извършва със специално оборудвана автолаборатория, като ежеседмично се наблюдават източниците на замърсяване. Дейността на двете станции създава условие за стабилизиране на екологичното равновесие във водоприемниците, възстановяват се естествените функции на флората, което осигурява нормален живот за човека, животните и растенията.
    
    "Водоснабдяване и Канализация" OOД гр. Сливен изпълнява собствена инвестиционна програма. В структурно отношение инвестициите са насочени главно за реконструкция и модернизация на съществуващите производствени мощности, за използване на нови материали при изграждане и реконструкция на водопроводните мрежи, за поддържане на необходимото техническо равнище на съоръженията, отговарящо на съвременните изисквания на водоснабдяването.
    
    Основните цели на фирмата към настоящия момент, а и в бъдеще са:
    Осигуряване на нормално водоснабдяване на всички населени места в региона отговарящо на съвременните изисквания.
    Подобряване екологичната насоченост на ПСОВ чрез внедряване на нови технологии и доставка на нови съоръжения за пречистване на водите с цел осигуряване пречистване на водата за всички населени места.
    Намаляване загубите на вода
    Подмяна на амортизирани тръбни участъци и арматури
    Зониране на водопроводните мрежи с цел намаляване на действащите налягания при прилагането на съвременните хидравлични съоръжения.
    Райониране на водопроводните мрежи и контрол на водопотреблението в отделните райони чрез използването на високонадеждни измервателни устройства за водни количества.
    Подобряване работата на експлоатационните звена, оборудвани със съвременни средства за измерване и контрол на загубите на вода, прилагане на съвременни методи за анализ чрез използване на компютърна техника.
    Подобряване организационната и управленска структура на експлоатационните звена.
    Намаляване себестойността на водата.
    Подобряване финансовото състояние с цел създаване на по-добри възможности за отделяне собствени средства за инвестиции.
    Разширяване и обновяване на изградената автоматизационна система за управление на водоснабдяването (ЕАСУВ).
    Подобряване качеството на извършваните услуги за населението, обществените потребители и фирми.
    Наред с действията по подобряване на водоснабдителния процес и качеството на подаваните водни количества с питейни качества в дългосрочната програма са залегнали и се изпълняват и редица мероприятия свързани с общото намаляване на експлоатационните разходи в дружеството. През 2003 г. са разработени и се изпълняват краткосрочни конкретизирани програми в това направление.
    Анализира се необходимостта от оптимизация на персонала.
    Проучват се необходимостите от нови технологии, машини, съоръжения и автоматизация на някои процеси.
    В дружеството е създадена интегрирана компютърна система за събиране и обработка на икономическа, техническа и счетоводна информация постъпваща и излизаща от фирмата, като са обхванати всички информационни потоци.
    
    Действащите програмни продукти обхващат:
    Инкасо на граждани и фирми;
    Съд;
    Счетоводство;
    МТС;
    Водомерно стопанство;
    Автотранспорт;
    Строителство;
    Личен състав;
    ТРЗ.
    Изградената компютърна мрежа е тип "звезда" при максимална скорост на трансфера 100 MBps.
    
    Основните насоки в развитието на технологичните процеси по обработка, въвеждане и анализиране на информацията в дружеството са задоволяване на високите изисквания към потребителите – фирми и граждани, а също така и по-пълното използване на новите компютърни технологични решения с цел вътрешна информация за финансово-счетоводен анализ, прогнозиране и управленски анализ.</p>
{% endblock content %}
